@use "../../styles/variables";

.player-card {
  margin-top: 20px;
  padding: 16px;
  border: 1px solid variables.$border-color;
  border-radius: 8px;
  background: variables.$card-bg;
  text-align: left;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  h2 {
    margin: 0 0 12px;
    color: variables.$card-nick;
    font-size: 1.4rem;
  }

  p {
    margin: 6px 0;
    color: variables.$card-p;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
}

  .player-card-link {
  text-decoration: none;
}